//$primary: #FF9300;
//$primary: #a679ff;
//$primary: #a679ff;
$atomiq-magenta: #d147a6;
$atomiq-magenta-lighter: #ff54cd;
$atomiq-purple: #944afc;
$atomiq-orange: #fc9626;

$primary: $atomiq-magenta;
$secondary: #f2f5f9;
$danger: #f25151;
$success: #2bdd72;
$warning: $atomiq-purple;
$dark: #141414;
$btn-border-radius-lg: 0.25rem;
$body-color: #272d33;
$info: #006cff;

//$form-invalid-border-color: #ffdb00;
//$form-invalid-color: #ffdb00;

$form-invalid-border-color: #ff5e5e;
$form-invalid-color: #ff9393;

$success-border-subtle: #00ff68;
$success-bg-subtle: rgba(0, 255, 96, 0.25);
$success-text-emphasis: #e0ffec;

$danger-border-subtle: #f00;
$danger-bg-subtle: #ff00003d;
$danger-text-emphasis: #fdd3d3;

$warning-border-subtle: #ff8800;
$warning-bg-subtle: rgba(255, 140, 0, 0.24);
$warning-text-emphasis: #fde8cc;

$accordion-button-active-bg: #00000000;
$accordion-button-bg: #00000000;
$accordion-button-active-color: #fff;
$accordion-button-color: #fff;
$accordion-border-width: 0;
$accordion-bg: rgba(var(--bs-dark-rgb), 0.25);
$accordion-color: #fff;

$font-weight-bold: 600;

$badge-font-weight: 500;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Fonts
//// TODO OLD font, to be sure.. Remove later
@import url('../fonts/scandia/light/style.css');
@import url('../fonts/scandia/regular/style.css');
@import url('../fonts/scandia/medium/style.css');
@import url('../fonts/custom-icons/style.css');

//// new WorkSans font
@import url('../fonts/WorkSans/style.css');

//// TODO idk what is this
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

.btn-primary {
  color: white;
}
.btn-primary:focus {
  color: white;
}
.btn-primary:hover {
  color: white;
}
.btn-primary:disabled {
  color: white;
}

.btn-outline-primary:focus {
  color: white;
}
.btn-outline-primary:hover {
  color: white;
}

.btn-danger {
  color: white;
}
.btn-danger:focus {
  color: white;
}
.btn-danger:hover {
  color: white;
}
.btn-danger:disabled {
  color: white;
}

.btn-success {
  color: white;
}
.btn-success:focus {
  color: white;
}
.btn-success:hover {
  color: white;
}
.btn-success:disabled {
  color: white;
}

.btn {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalid-feedback #text {
  margin-top: 500px;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

//.alert-danger {
//  color: #fff;
//  background: #F25151;
//  border: #F25151
//}

.alert-info {
  color: #fff;
  background: $primary;
  background: $primary;
  border-color: $primary;
}

//.alert-success {
//  color: #fff;
//  background: #28c563;
//  border: #28c563;
//}

.grayed-out {
  color: #b2b2b2;
}

a {
  color: $atomiq-magenta-lighter;
}

body {
  margin: 0;
  font-family: WorkSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.collapsed .hide-on-collapse {
  display: none !important;
}

.hopa-table thead {
  background: #{$secondary};
}

.hopa-table thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: #{$secondary};
  height: 41px;
}

.hopa-table th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-n1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.text-overflow-ellipsis {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tab-bg {
  background: #00000026;
}

.background {
  background: #180931;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    width: 872px;
    height: 872px;
    left: 50%;
    bottom: -80%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #8d54e9 0%, #c75f91 47%, #ee9943 100%);
    opacity: 0.5;
    filter: blur(519.22px);
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
  }

  &:before {
    content: '';
    width: 40%;
    height: 100%;
    right: 0;
    top: -30%;
    left: -20%;
    position: absolute;
    background: linear-gradient(150deg, #000000 0%, transparent 100%);
    opacity: 0.5;
    filter: blur(519.22px);
    transform: rotate(150deg);
    pointer-events: none;
  }
}

.card {
  color: #fff;
}

.tab-accent-nop {
  @extend .card;
  @extend .border-0;
  @extend .bg-black;
  @extend .bg-opacity-10;
}

.tab-accent {
  @extend .card;
  @extend .border-0;
  @extend .bg-black;
  @extend .bg-opacity-10;
}

.tab-accent-p3 {
  @extend .card;
  @extend .p-3;
  @extend .border-0;
  @extend .bg-black;
  @extend .bg-opacity-10;
  @extend .text-start;
}

.form-control {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.form-control:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-control:disabled {
  background: rgb(255 255 255 / 20%);
}

.input-group-text {
  @extend .bg-black;
  @extend .bg-opacity-10;
}

.form-check {
  @apply p-0 gap-3 flex;

  .form-check-input {
    @apply bg-white/10  w-6 h-6 m-0 mr-3 ml-0 rounded transition;
    box-shadow: none !important;

    &,
    &:focus {
      @apply border-white/20;
    }
    &:hover {
      @apply border-white/50;
    }
  }
}

.form-switch {
  @apply flex items-center justify-center;

  .form-check-input {
    @apply h-[28px] w-[48px] mt-0 bg-white/30 border-0 cursor-pointer;

    --bs-form-switch-bg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e');
    background-size: 30px;
    background-position: -1px;

    &:checked[type='checkbox'] {
      @apply bg-black/70;

      background-size: 30px;
      background-position: right 0 center;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.form-check-input:checked[type='checkbox'] {
  @apply text-pink border-white;

  background-size: 18px;
  --bs-form-check-bg-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23FF2E8C%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e');
}

.round-right {
  border-top-right-radius: var(--bs-btn-border-radius) !important;
  border-bottom-right-radius: var(--bs-btn-border-radius) !important;
}

.bg-transparent {
  background: rgba(0, 0, 0, 0);
}

.alert strong {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.social-icon {
  height: 16px;
  width: 16px;
  //margin-top: -4px;
}

.accordion-button {
  font-size: 1.5rem;

  &:focus {
    box-shadow: none;
  }
}

.fee-accordion-header {
  @extend .accordion-header;
}

.fee-accordion-button {
  @extend .accordion-button;
}

.fee-accordion-header > .accordion-button {
  font-size: 1rem;
}

.fee-accordion-header > .accordion-button::after {
  margin-left: 0px;
}

.faq-number {
  font-size: 3rem;
  width: 3rem;
}

.section-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.accordion-button::after {
  mask-image: var(--bs-accordion-btn-icon);
  background: #fff;
}
.accordion-button:not(.collapsed)::after {
  mask-image: var(--bs-accordion-btn-icon);
  background: #fff;
}

.height-100 {
  height: 100%;
}

.logo-img-small {
  margin-bottom: 1.5px;
  margin-right: -2px;
  width: 16px;
  height: 16px;
}

.pill-round {
  padding-left: 8.5px;
  padding-right: 8.5px;
}

.newBadge {
  margin-bottom: -20px;
}

.newBadgeCollapse {
  margin: -10px 30px -10px -5px;
  z-index: 1;
}

.max-width-100 {
  max-width: 100% !important;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%; // allow textareas
  padding: $form-floating-padding-y $form-floating-padding-x;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: $input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
  transform-origin: 0 0;
  @include transition($form-floating-transition);
  color: #d9d9d9 !important;
  transform: scale(0.85) translateY(1.3rem) translateX(0.15rem) !important;
}

.form-floating > label::after {
  background: transparent !important;
}

.input-with-offset {
  padding-top: 0.625rem !important;
  padding-bottom: 1.625rem !important;
}

.py-expect-floating-label {
  padding-top: 0.8125rem !important;
  padding-bottom: 0.8125rem !important;
}

.font-weight-500 {
  font-weight: 500;
}

.width-fill {
  width: 100%;
}

.single-line-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-width-100 {
  min-width: 100%;
}

.min-width-0 {
  min-width: 0;
}

.width-300px {
  width: 300px;
}

.min-width-400px {
  min-width: 400px;
}

.bg-atomiq-orange {
  background: $atomiq-orange !important;
}

.hover-opacity-75 {
  opacity: 0.75;
}

.hover-opacity-75:hover {
  opacity: 1;
}

.loading-glow {
  animation: glow 0.5s ease-in-out alternate infinite;
}

.page-title {
  @apply text-left font-semibold text-[32px] mb-[24px] text-white;
}

.App > .social-footer {
  @media (max-width: 992px) {
    @apply hidden;
  }
}

@keyframes glow {
  from {
    opacity: 0.65;
  }
  to {
    opacity: 1;
  }
}
