.base-button {
  @apply font-bold px-6;

  &:has(.base-button__icon):not(.base-button--icon-only) {
    @apply pl-4;
  }

  &--small {
    @apply h-12;
  }

  &--smaller {
    @apply h-9 text-[14px];
  }

  &--large {
    @apply h-16;
  }

  &--transparent {
    @apply text-white font-medium;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);

      .base-button__content {
        @apply opacity-100;
      }
    }

    .base-button__content {
      @apply opacity-75;
    }
  }

  &--clear {
    @apply text-white font-medium;
  }

  &__content {
    @apply transition-all;
  }

  &__icon {
    @apply inline-flex items-center mr-2 transition-all;

    i {
      @apply items-center justify-center;
      display: flex !important;
    }
  }

  &--icon-only {
    & {
      @apply px-3 py-[12px];
    }
    .base-button__icon {
      @apply m-0;
    }
  }
}
