.base-button {
  @apply font-bold px-6;

  &:has(.base-button__icon):not(.base-button--icon-only) {
    @apply pl-4;
  }

  &--primary {
    background: linear-gradient(90deg, #7a2ff3 0%, #a53ff7 100%);
    @apply text-white border-0 text-[18px];
  }

  &--secondary {
    @apply bg-white border-0 text-[18px] hover:bg-white/80 font-semibold;
  }

  &--border-only {
    @apply bg-transparent border border-solid  hover:bg-white/10 px-[6px] py-[8px];

    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.2);
  }

  &--small {
    @apply h-12;
  }

  &--smaller {
    @apply h-9 text-[14px];
  }

  &--large {
    @apply h-16;
  }

  &--transparent {
    @apply text-white font-medium;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);

      .base-button__content {
        @apply opacity-100;
      }
    }

    .base-button__content {
      @apply opacity-75;
    }
  }

  &--danger {
    @apply bg-red/10 hover:bg-red/60 border border-solid border-red text-red;
    --bs-border-color: rgba(255, 20, 20, 0.2);
  }

  &--clear {
    @apply text-white font-medium;
  }

  &__content {
    @apply transition-all flex items-center;
  }

  &__icon {
    @apply inline-flex items-center mr-2 transition-all;

    i {
      @apply items-center justify-center;
      display: flex !important;
    }
  }

  &--icon-only {
    & {
      @apply px-3 py-[12px];
    }
    .base-button__icon {
      @apply m-0;
    }
  }
}
