.swap-steps {
  @apply rounded-2xl flex flex-col pt-[20px] pb-1;

  &__data {
    @apply flex justify-between items-start px-6 mb-8 relative;

    &__in,
    &__out {
      @apply flex-1;
    }

    &__in {
      @apply flex justify-start;
    }

    &__out {
      @apply flex justify-end;
    }

    &__arrow {
      @apply absolute opacity-50 w-[15px] left-0 right-0 top-0 bottom-0 m-auto flex items-center;
    }
  }

  &__indicator {
    background-color: rgb(255 255 255 / 0.05);
    @apply py-6 rounded-lg flex justify-around items-center gap-4 relative;

    &__text {
      @apply mt-[12px];
    }

    &__icon {
      @apply w-[40px] h-[40px] rounded-full border-2 border-solid border-white/30 flex items-center justify-center leading-none;

      &.is-failed {
        @apply border-red text-red bg-red/10;
      }

      &.is-success {
        @apply border-green text-green bg-green/10;
      }
    }

    &__step {
      @apply flex-1 flex flex-col items-center;
    }
  }

  &__dots {
    @apply flex items-center gap-[20px] absolute pointer-events-none top-[42px];

    &.is-success {
      .swap-steps__dot {
        @apply bg-white;
      }
    }
  }

  &__dot {
    @apply w-1 h-1 rounded-full bg-white/20;
  }

  &__address {
    @apply w-full flex justify-between px-3 py-2 mb-3 text-[14px] rounded-[4px];

    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__alert {
    @apply flex flex-col rounded-lg p-[20px] mt-3 items-center;
    border: 1px solid rgba(255, 255, 255, 0.1);

    &__icon {
      @apply w-12 h-12 rounded-full text-green flex items-center justify-center mb-3;
      background-color: rgba(64, 231, 45, 0.1);

      svg {
        @apply relative top-[-1px];
      }
    }

    &__title {
      @apply leading-[24px];
    }

    &__description {
      @apply leading-[20px];
    }

    &__action {
      @apply flex gap-2 no-underline font-semibold items-center mt-3;
    }

    &.is-success {
      .swap-steps__alert__action {
        @apply text-green;
      }
    }
  }
}

.swap-steps-wallet {
  @apply flex items-center gap-3;

  &__icon {
    @apply w-8 h-8 rounded-full flex items-center justify-center relative;

    &__img {
      @apply w-8 h-8 object-contain;
    }

    &__currency {
      @apply absolute w-4 h-4 object-contain -right-1 -bottom-1;
    }
  }

  &__ammounts {
    @apply flex flex-col items-start;

    &__original {
      @apply text-[18px] font-semibold text-white leading-none;
    }

    &__dolars {
      @apply text-[14px] opacity-50;
    }
  }

  &__address {
    @apply text-xs opacity-50 max-w-[150px] truncate;
  }
}
