.swap-steps {
  @apply rounded-2xl flex flex-col pt-[20px] pb-1;

  &__data {
    @apply flex justify-between items-start px-6 mb-8 relative;

    &__in,
    &__out {
      @apply flex-1;
    }

    &__in {
      @apply flex justify-start;
    }

    &__out {
      @apply flex justify-end;
    }

    &__arrow {
      @apply absolute opacity-50 w-[15px] left-0 right-0 top-0 bottom-0 m-auto flex items-center;
    }
  }

  &__indicator {
    @apply py-6 rounded-lg flex justify-around items-start gap-4 relative;
    background-color: rgb(255 255 255 / 0.05);

    &__text {
      @apply mt-[12px];
    }

    &__icon {
      @apply w-[40px] h-[40px] rounded-full border-2 border-solid border-white/30 flex items-center justify-center leading-none;

      &.is-failed {
        @apply border-red text-red bg-red/10;
      }

      &.is-success {
        @apply border-green text-green bg-green/10;
      }

      &.is-loading {
        @apply border-transparent relative;

        &::before {
          content: '';
          @apply absolute inset-0 rounded-full;
          border: 2px solid white;
          border-bottom-color: transparent;
          animation: spinner-spin 3s linear infinite;
        }
      }
    }

    &__step {
      @apply flex-1 flex flex-col items-center;
    }
  }

  &__dots {
    @apply flex items-center gap-[20px] absolute pointer-events-none top-[42px];

    &.is-success {
      .swap-steps__dot {
        @apply bg-white;
      }
    }

    &.is-loading {
      @apply animate-pulse;
    }
  }

  &__dot {
    @apply w-1 h-1 rounded-full bg-white/20;
  }

  &__address {
    @apply w-full flex justify-between px-3 py-2 mb-3 text-[14px] rounded-[4px];

    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.payment-awaiting-buttons {
  @apply flex justify-center gap-3 w-full;

  .base-button {
    @apply text-[16px] flex-1 rounded-lg p-1;

    .icon {
      @apply text-[14px];
    }
  }
}

.swap-steps-wallet {
  @apply flex items-center gap-3;

  &__icon {
    @apply w-8 h-8 rounded-full flex items-center justify-center relative;

    &__img {
      @apply w-8 h-8 object-contain;
    }

    &__currency {
      @apply absolute w-4 h-4 object-contain -right-1 -bottom-1;
    }
  }

  &__ammounts {
    @apply flex flex-col items-start;

    &__original {
      @apply text-[18px] font-semibold text-white leading-none;
    }

    &__dolars {
      @apply text-[14px] opacity-50;
    }
  }

  &__address {
    @apply text-xs opacity-50 max-w-[150px] truncate;
  }
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
