@use 'wallet-modal';

.wallet-connections {
  --bs-btn-active-bg: rgba(255, 255, 255, 0.2);
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.2);

  @apply flex gap-[2px] justify-end items-center;

  &__button {
    & {
      @apply rounded-[8px] w-full;
    }
    &.show {
      @apply text-white;
      backdrop-filter: blur(5px);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    }
  }

  &__dropdown {
    --bs-dropdown-spacer: 8px;

    @apply font-medium p-3 w-[264px] rounded-xl;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.75);
  }

  &__item {
    &:not(&:last-of-type) {
      @apply mb-3;
    }

    &__header {
      @apply mb-[14px];

      &__name {
        @apply text-[14px] text-white ml-2;
        color: rgba(255, 255, 255, 0.75);
      }
    }

    &__button {
      & {
        @apply w-full justify-start;
      }
      &:hover {
        .base-button__icon {
          @apply opacity-100;
        }
      }

      .base-button__icon {
        @apply opacity-50;
      }
    }
  }
  &__button {
    &.is-full {
      @apply w-full;
    }
    &:hover {
      .base-button__icon {
        @apply opacity-80;
      }
    }

    .base-button__icon {
      @apply opacity-50;
    }
  }
  &__badge {
    @apply text-white font-medium rounded m-[12px];

    background: #180931;
  }

  & > .dropdown {
    @apply transition-all flex flex-row items-center cursor-pointer;

    &:not(&:has(.wallet-connections__button.is-main)) {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: var(--bs-border-radius);
      border: 1px solid transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &:first-child {
        @apply rounded-r-none;
      }

      &:last-child {
        @apply rounded-l-none;

        .base-button.show {
          @apply rounded-l-none;
        }
      }
    }

    &:not(:has(.base-button)).show {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
    }

    .icon-dropdown {
      @apply mr-3;

      font-size: 12px;
    }

    .wallet-connections__badge > span {
      @apply px-3 py-[12px];
      background-color: transparent !important; // to rewrite bootstrap component class
    }

    .dropdown-header {
      @apply p-0 text-[14px] text-white cursor-auto;

      .sc-title {
        @apply font-bold uppercase tracking-wider;
      }

      .sc-subtitle {
        @apply flex font-medium gap-2 pt-[16px] pb-[12px];

        .sc-text {
          @apply opacity-75;
        }
      }
    }

    .dropdown-list {
      @apply flex flex-col gap-[2px] rounded-[6px] overflow-hidden;
    }

    .dropdown-item {
      @apply text-white px-2 py-[10px] transition text-[14px] font-medium;

      background-color: rgba(255, 255, 255, 0.05);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);

        .icon {
          @apply opacity-100;
        }
      }

      .icon {
        @apply mr-2 opacity-50;

        font-size: 16px;
      }
    }
  }

  &__indicator {
    @apply text-green;
  }

  &__trigger {
    @apply flex items-center;
  }

  &__simple {
    @apply gap-1;

    &__disconnect {
      @apply ml-4;

      .icon {
        @apply hover:opacity-100 opacity-50 transition-all cursor-pointer;
      }
    }
  }

  &__amount {
    @apply opacity-75 text-[14px];
  }
}
