.transactions-table {
  .list-group {
    @apply gap-[10px];
  }

  .list-group-item {
    @apply p-0 text-white border-transparent border-1 border-solid rounded-[12px] transition-all;

    background: rgba(255, 255, 255, 0.05);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  // Add separator between last alert item and first non-alert item
  .list-group-item:has(.history-entry__alert) {
    & + .list-group-item:not(:has(.history-entry__alert)) {
      margin-top: 32px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &__head {
    @apply uppercase text-white/75 font-semibold text-[12px];
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.history-entry {
  @apply justify-between;

  &.is-clickable {
    @apply cursor-pointer;
  }

  & > div {
    @apply flex items-center justify-center m-0 p-3;

    &.is-right {
      @apply text-right;
    }

    .is-arrow {
      @apply opacity-50 text-[20px] ml-auto pr-[12px] flex items-center;
      @media (max-width: 992px) {
        display: none;
      }
    }

    &.is-value {
      @apply justify-end;

      @media (max-width: 992px) {
        @apply justify-start;
      }
    }

    &.is-date {
      @apply items-end;

      @media (max-width: 992px) {
        @apply items-start;
      }

      .sc-time {
        @apply opacity-75 text-[14px];
      }
    }

    &.is-token {
      @apply justify-start;
    }
    &.is-status {
      @apply items-start;

      .base-button {
        @apply h-[44px];
      }
      @media (min-width: 768px) {
        @apply w-[13.5%];
      }

      @media (max-width: 992px) {
        @apply items-end;
      }
    }
  }

  &__token {
    @apply flex items-center;

    &__data {
      @apply flex flex-col items-start;
    }

    &__amount {
      @apply font-medium;
    }

    &__address {
      @apply text-[14px] flex gap-1 items-center;

      .sc-sub {
        @apply opacity-50;
      }
      .sc-address {
        @apply opacity-75;
      }
    }
    .icon {
      @apply opacity-50 ml-1;
    }
  }

  &__alert {
    @apply w-[8px] h-[8px] bg-blue rounded-full absolute left-2 top-[10px] m-0 pointer-events-none z-40;
  }
}
