@import '../components/multi-select-dropdown.scss';

.explorer-totals-wrapper {
  @apply flex flex-col gap-2 mb-4 md:mb-12;
}

.explorer-totals {
  @apply bg-[#180931] text-white p-3 md:p-6 rounded-[12px] gap-4;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &__header {
    & {
      @apply flex justify-between items-center;
    }

    &__content {
      @apply flex flex-col gap-[12px] items-start;

      &__title {
        @apply font-semibold opacity-75 uppercase text-[12px] leading-none;
      }

      &__count {
        @apply flex gap-2 text-[16px] leading-none items-center;

        &.is-loading {
          @apply w-24 h-[20px] animate-pulse rounded bg-white/20;
        }
      }
    }

    .sc-amount {
      @apply font-semibold;
    }

    .sc-difference {
      @apply text-green flex gap-2 items-center;

      .dropdown {
        & {
          @apply h-[20px] uppercase;
        }

        .dropdown-toggle {
          @apply px-[6px] py-0 bg-white/10 text-[14px] gap-[2px] uppercase;
        }
      }
    }
    .badge {
      @apply ml-2;
    }
  }

  &__more {
    @apply text-[14px] w-[40px] h-[40px] flex items-center justify-center rounded-lg bg-white/10 hover:bg-white/20 cursor-pointer transition-all;

    .icon {
      @apply transition-all;

      &.is-rotated {
        transform: rotate(-180deg);
      }
    }
  }

  &__body {
    @apply pt-0 transition-all;

    &__item {
      @apply flex gap-2 items-center py-[12px];

      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:first-of-type {
        @apply mt-3;

        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }

      .sc-image {
        @apply w-6 h-6 rounded mr-1;
      }

      .sc-amount {
        @apply ml-auto font-medium;
      }

      .sc-difference {
        @apply text-green;
      }
    }
  }

  &.is-expanded {
    @apply rounded-b-[12px] pt-3 md:pt-6;
  }
}

.explorer-filter {
  @apply flex justify-between mb-4 md:mb-10 flex-col lg:flex-row gap-3;

  &__buttons {
    @apply flex gap-3 justify-between lg:justify-start flex-wrap;

    .multi-select-dropdown {
      @media (max-width: 991.98px) {
        @apply flex-fill;
      }
    }
  }

  &__search {
    @apply flex gap-2;

    form {
      @apply flex-1 lg:flex-none;
    }

    .form-control {
      @apply w-full lg:w-[460px] h-12 bg-white/10 border-0;

      &::placeholder {
        @apply text-white/30;
      }
    }

    .base-button {
      @apply w-[52px];
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 40;
  }

  &__clear {
    @apply text-white opacity-75 hover:opacity-100 transition-all cursor-pointer flex items-center justify-center underline hover:no-underline text-[14px] px-1;
  }
}

.clear-filter {
  @apply opacity-30 hover:opacity-80 transition-all  w-5 h-5 flex items-center justify-center;
}
