.explorer-totals-wrapper {
  @apply flex flex-col gap-2 mb-4 md:mb-12;
}

.explorer-totals {
  @apply bg-[#180931] text-white p-3 md:p-6 rounded-[12px] gap-4;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &__header {
    & {
      @apply flex justify-between items-center;
    }

    &__content {
      @apply flex flex-col gap-[12px] items-start;

      &__title {
        @apply font-semibold opacity-75 uppercase text-[12px] leading-none;
      }

      &__count {
        @apply flex gap-2 text-[16px] leading-none items-center;

        &.is-loading {
          @apply w-24 h-[20px] animate-pulse rounded bg-white/20;
        }
      }
    }

    .sc-amount {
      @apply font-semibold;
    }

    .sc-difference {
      @apply text-green flex gap-2 items-center;

      .dropdown {
        & {
          @apply h-[20px] uppercase;
        }

        .dropdown-toggle {
          @apply px-[6px] py-0 bg-white/10 text-[14px] gap-[2px] uppercase;
        }
      }
    }
    .badge {
      @apply ml-2;
    }
  }

  &__more {
    @apply text-[14px] w-[40px] h-[40px] flex items-center justify-center rounded-lg bg-white/10 hover:bg-white/20 cursor-pointer transition-all;

    .icon {
      @apply transition-all;

      &.is-rotated {
        transform: rotate(-180deg);
      }
    }
  }

  &__body {
    @apply pt-0;
  }

  &.is-expanded {
    @apply rounded-b-[12px] pt-3 md:pt-6;
  }
}

.explorer-filter {
  @apply flex justify-between mb-4 md:mb-10 flex-col lg:flex-row gap-3;

  &__buttons {
    & {
      @apply flex gap-3 justify-between lg:justify-start;
    }
    .dropdown {
      @apply flex-1 lg:flex-none;
    }
    .dropdown-toggle {
      --bs-btn-active-bg: rgba(255, 255, 255, 0.15);
      @apply bg-white/10 h-12 px-3 py-3 gap-2 font-medium focus:text-white relative z-[100] w-full flex justify-between items-center;
      border: 1px solid transparent;

      &.show {
        @apply text-white bg-white/15;

        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      .sc-count {
        @apply w-6 h-6 flex justify-center items-center bg-pink rounded text-white text-[14px] font-semibold;
      }

      &:after {
        @apply border-0 text-[12px];
        font-family: 'icomoon', serif !important;
        content: '\e911';
      }
    }

    .dropdown-menu {
      @apply w-[280px] bg-[#180931] mt-1 p-3 rounded-[12px];
      border: 1px solid #36274f;

      .chain-icon {
        @apply w-8 h-8 rounded mr-3;
      }

      .form-check {
        @apply flex-row-reverse w-full justify-between items-center;

        .form-check-input {
          @apply pointer-events-none;
        }
      }

      .dropdown-item {
        @apply py-2 pl-2 hover:bg-white/10 rounded transition-all pr-[12px] hover:text-white;
      }

      .form-check {
        @apply m-0;
      }
    }
  }

  &__search {
    @apply flex gap-2;

    form {
      @apply flex-1 lg:flex-none;
    }

    .form-control {
      @apply w-full lg:w-[460px] h-12 bg-white/10 border-0;

      &::placeholder {
        @apply text-white/30;
      }
    }

    .base-button {
      @apply w-[52px];
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 40;
  }
}

.clear-filter {
  @apply opacity-30 hover:opacity-80 transition-all  w-5 h-5 flex items-center justify-center;
}
