.explorer-totals-wrapper {
  @apply flex flex-col gap-2 mb-12;
}

.explorer-totals {
  @apply bg-[#180931] text-white p-6 rounded-[12px] gap-4;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &__header {
    & {
      @apply flex justify-between items-center;
    }

    &__content {
      @apply flex flex-col gap-[12px] items-start;

      &__title {
        @apply font-semibold opacity-75 uppercase text-[12px] leading-none;
      }

      &__count {
        @apply flex gap-2 text-[16px] leading-none items-center;

        &.is-loading {
          @apply w-24 h-[20px] animate-pulse rounded bg-white/20;
        }
      }
    }

    .sc-amount {
      @apply font-semibold;
    }

    .sc-difference {
      @apply text-green flex gap-2 items-center;

      .dropdown {
        & {
          @apply h-[20px] uppercase;
        }

        .dropdown-toggle {
          @apply px-[6px] py-0 bg-white/10 text-[14px] gap-[2px] uppercase;
        }
      }
    }
    .badge {
      @apply ml-2;
    }
  }

  &__more {
    @apply text-[14px] w-[40px] h-[40px] flex items-center justify-center rounded-lg bg-white/10 hover:bg-white/20 cursor-pointer transition-all;

    .icon {
      @apply transition-all;

      &.is-rotated {
        transform: rotate(-180deg);
      }
    }
  }

  &__body {
    @apply pt-0;
  }

  &.is-expanded {
    @apply rounded-b-[12px] pt-4;
  }
}

.explorer-filter {
  @apply flex justify-between;

  &__search {
    @apply flex gap-2;

    .form-control {
      @apply w-[460px] h-12 bg-white/10 border-0;

      &::placeholder {
        @apply text-white/30;
      }
    }

    .base-button {
      @apply w-[52px];
    }
  }
}
