.chain-icon {
  & {
    @apply mr-4 relative;
    @apply w-8 h-8;
  }

  @media (max-width: 600px) {
    @apply mr-3;
    @apply w-6 h-6;
  }

  &__img {
    width: 100%;
    height: 100%;
    @apply rounded-full;
  }

  &__currency {
    width: 50%;
    height: 50%;
    right: -12.5%;
    bottom: -12.5%;
    @apply absolute rounded;

    @media (max-width: 600px) {
      @apply rounded-[2px];
    }
  }
}
