.currency-dropdown {
  &__toggle.dropdown-toggle {
    @apply pl-[16px] py-[12px] border-none w-[211px] pr-6 rounded-lg;

    background-color: rgba(255, 255, 255, 0.1) !important;

    @media (max-width: 992px) {
      @apply w-[139px] p-2;
    }

    &:after {
      @apply hidden;
    }

    &.show {
      @apply relative z-50;
    }
  }

  &__details {
    @apply flex flex-col items-start flex-1;

    font-size: 18px;
    line-height: 1.2;
  }

  &__currency {
    @apply font-bold;

    @media (max-width: 992px) {
      @apply text-[14px];
    }
  }

  &__second {
    @apply opacity-50 text-[14px];

    @media (max-width: 992px) {
      @apply text-[12px];
    }
  }

  &__dropdown {
    @apply text-[12px];

    @media (max-width: 992px) {
      @apply text-[10px] mr-1;
    }
  }

  &__nav-link {
    @apply py-[14px] w-[56px] transition-all;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      border-right: 2px solid #eb568c;
    }
  }

  .dropdown-menu {
    & {
      @apply text-white rounded mt-2 min-w-[384px] p-0 z-40;
      background-color: #180931;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }

    &.show {
      @apply flex;
    }

    .nav {
      @apply py-3 flex flex-col;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    .currency-icon-medium {
      @apply w-6 h-6 rounded;
    }

    .dropdown-item {
      @apply text-white p-2 rounded transition text-[14px];

      .currency-icon {
        @apply mr-3 w-8 h-8;
      }

      .sc-ticker {
        @apply font-semibold;
      }

      .sc-name {
        @apply ml-auto opacity-50;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &__items {
    @apply w-full p-3;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 40;
  }

  &__search {
    & {
      @apply relative mb-3;
    }

    .icon {
      @apply top-[12px] left-[12px] opacity-50 absolute pointer-events-none text-[18px];
    }

    &__input {
      @apply pl-[44px] text-[14px] h-[44px] border-0;
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
