.simple-fee-screen {
  @apply rounded-xl;

  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(255, 255, 255, 0.1);

  .accordion-button {
    @apply px-[20px] py-3 text-white min-h-[52px];

    font-size: 14px;

    &:after {
      display: none;
    }

    .icon-caret-down {
      @apply transition-all;
    }

    &:not(.collapsed) {
      .icon-caret-down {
        rotate: 180deg;
      }
    }
  }

  &__quote {
    @apply flex gap-2 mr-auto items-center;

    @media (max-width: 992px) {
      @apply text-[12px];
    }

    &__error {
      @apply text-red flex items-center gap-2 mr-1 pr-3;

      border-right: 1px solid rgb(255 255 255 / 0.2);

      .icon-invalid-error {
        @apply relative top-[2px];
      }
    }

    .simple-fee-screen__skeleton {
      @apply w-[200px];
    }
  }

  &__fee {
    @apply mr-3;

    .simple-fee-screen__skeleton {
      @apply w-[39px];
    }
  }

  &__body {
    @apply px-[20px] pt-0 pb-3 text-white;

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  .icon-receipt-fees {
    @apply mr-2 opacity-50;
  }

  &__skeleton {
    @apply animate-pulse h-[10px];

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
}
