// Wallet modal list styling
.wallet-adapter-modal-list {
  @apply rounded-xl overflow-hidden mb-0 ps-0;

  &:not(:last-child) {
    @apply mb-3;
  }

  li:not(:last-child) {
    @apply mb-[2px];
  }
}

.wallet-modal__item {
  @apply border-none text-white w-full gap-3 flex items-center py-[12px] px-3 transition-all;
  font-family: WorkSans, sans-serif;
  background: rgba(255, 255, 255, 0.05);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &__icon,
  &__icon img {
    @apply w-8 h-8;
  }

  &__name {
    @apply font-medium;
  }

  &__status {
    @apply ml-auto opacity-50;
    font-size: 14px;
  }
}
