.social-footer {
  @apply absolute right-8 bottom-10 flex flex-col gap-2 items-end text-white;

  &.is-horizontal {
    @apply flex-row bottom-8;
  }

  &__link {
    @apply p-3 opacity-50 hover:opacity-100 transition;

    &.is-info {
      @apply cursor-default;
    }
  }

  &__icon {
    @apply w-5 h-5;
  }
}
