.main-navigation {
  @apply text-white z-20 grid gap-2;

  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'logo nav wallet';

  @media (max-width: 992px) {
    @apply flex;
  }

  &__logo {
    @apply h-[27px];
    grid-area: logo;

    &.is-desktop {
      @media (max-width: 992px) {
        @apply hidden;
      }
    }

    &.is-mobile {
      @media (min-width: 993px) {
        @apply hidden;
      }
    }
  }

  & &__nav .main-navigation__nav__item {
    & {
      @apply px-3 py-3 flex gap-2 relative border-solid border-b-2 border-transparent hover:border-pinkSlate items-center opacity-75 hover:opacity-100;
    }

    @media (max-width: 992px) {
      @apply px-3 py-[12px] border-0 opacity-75 hover:opacity-100 transition-all text-left;
    }

    &.is-active {
      @apply border-pink opacity-100;
    }

    &.is-mobile {
      @media (min-width: 993px) {
        @apply hidden;
      }
    }

    &__text {
      @apply text-base;

      @media (max-width: 992px) {
        @apply text-lg font-medium;
      }
    }

    &__icon {
      font-size: 18px;

      @media (max-width: 992px) {
        @apply justify-center items-center w-12 h-12 rounded-full;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex !important; // because somehow for some reason there is inline style
      }
    }

    &__count {
      @apply w-4 h-4 text-[12px] font-semibold text-white bg-blue rounded-full flex items-center justify-center absolute left-2 top-[12px];
      @media (max-width: 992px) {
        @apply inline-flex static w-6 h-6 text-[16px];
      }
    }

    &:nth-child(5) {
      @apply border-t mt-4 pt-[28px] border-solid px-0 mx-3;

      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__nav {
    @apply gap-4;
    grid-area: navigation;

    @media (max-width: 992px) {
      @apply gap-0 h-full;
    }

    &__mobile-header {
      & {
        @apply flex items-center justify-between px-3 py-[12px] mb-[12px];
      }
      @media (min-width: 993px) {
        @apply hidden;
      }
    }

    &__logo {
      @apply h-[28px];
    }

    &__close {
      @apply p-[10px] opacity-50 hover:opacity-100 transition-all cursor-pointer;

      i {
        @apply items-center justify-center;
        display: flex !important; // because somehow for some reason there is inline style
      }
    }
  }

  &__wallet {
    grid-area: wallet;
  }

  &__network {
    @apply flex;

    @media (max-width: 992px) {
      @apply hidden;
    }
  }

  // TODO probably create custom component
  .navbar-nav .main-navigation__more {
    & {
      @apply flex items-center active:text-white;
    }

    &.show .main-navigation__more__icon {
      rotate: 180deg;
    }

    &__label {
      @apply flex gap-2;
    }

    &__icon {
      @apply transition-all duration-100;
    }

    .dropdown-toggle {
      @apply pl-3 pr-2 rounded opacity-75;

      &:hover {
        @apply opacity-100;
        background: rgba(255, 255, 255, 0.1);
      }

      &:after {
        @apply hidden;
      }
    }

    @media (max-width: 992px) {
      .dropdown-toggle {
        @apply hidden;
      }
    }
  }

  .navbar-brand {
    @apply mr-0;
  }

  .nav-link {
    @apply text-white hover:text-white;
  }

  .navbar-collapse {
    @media (min-width: 993px) {
      @apply flex justify-center gap-5;
    }
  }
  .navbar-toggler {
    @apply mr-auto;

    .navbar-toggler-icon {
      filter: invert(1);
      width: 20px;
      height: 20px;
    }
  }

  &__collapse {
    @apply fixed top-0 left-0 h-screen bg-[#180931] z-50 w-[321px] max-w-full;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.show {
      transform: translateX(0);
    }

    @media (max-width: 992px) {
      height: 100vh !important;
    }

    @media (min-width: 993px) {
      @apply static h-auto transform-none transition-none;
      width: auto;
      background-color: transparent;
    }
  }

  .collapse:not(.show) {
    @apply block;
  }

  .social-footer {
    @apply flex-row gap-[9px] justify-center items-center static mt-auto mb-[12px] mx-3;

    @media (min-width: 993px) {
      @apply hidden;
    }
  }
}

.main-navigation__overlay {
  @apply fixed top-0 left-0 w-full h-full z-40;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.navbar {
  --bs-navbar-active-color: #fff;
}

.mobile-bottom-nav {
  @apply fixed bottom-0 left-0 right-0 bg-[#201f1f] text-[#777777] z-30 flex justify-around items-center;

  @media (min-width: 993px) {
    @apply hidden;
  }

  &__item {
    @apply flex flex-col items-center justify-center gap-1 text-white  transition-all relative no-underline border-0 border-t border-solid border-transparent py-3;
    min-width: 80px;

    &.is-active {
      border-top: 2px solid #9785e5;

      .mobile-bottom-nav__item__icon {
        @apply text-[#9785e5];
      }
    }
    &__icon {
      @apply text-[#777777];
    }
    &__icon {
      @apply text-2xl transition-colors text-[#777777];
    }
  }
}
